<app-navbar [title]="'Search News'"></app-navbar>
<div class="container">
  <app-form (selectedParameters)="searchNews($event)"></app-form>
  <app-spinner *ngIf="loading"></app-spinner>
  <app-news-list [newsList]="newsList"></app-news-list>
</div>
