<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  <div *ngFor="let news of newsList" class="col">
    <div class="card">
      <img [src]="news.urlToImage" class="card-img-top" alt="...">
      <div class="card-body">
        <span class="badge bg-primary mb-1">{{ news.source.name }}</span>
        <h5 class="card-title">{{ news.title }}</h5>
        <p class="card-text">{{ news.description }}</p>
        <a [href]="news.url" target="_blank" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
