<div class="jumbotron mt-5">
  <h2 class="heading">Select news by country and category</h2>
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="searchNews()">
        <div class="form-group">
          <select name="country" [(ngModel)]="selectCountry" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option [value]="country.value" *ngFor="let country of countries">{{ country.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="category" [(ngModel)]="selectCategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option [value]="category.value" *ngFor="let category of categories">{{ category.name }}</option>
          </select>
        </div>
        <div class="d-grid mt-3">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
